.section {
  position: relative;
}
.content {
  overflow: hidden;
  max-width: 100%;
}
.container {
  display: flex;
  width: 100%;
  transition: all 0.5s linear;
}
.imageContainer {
  transition: all 1s linear;
  opacity: 0;
  min-width: 100%;
}
.imageContainer img {
  object-fit: top center;
  width: 100%;
}
.content {
  position: relative;
}
.nextIcon,
.prevIcon {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  cursor: pointer;
  height: 20rem;
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: center;
  z-index: 5;
}
.nextIcon {
  right: -10%;
}
.prevIcon {
  left: -10%;
}
.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  padding-top: 2rem;
}
.dot {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: #e3e3e3;
  cursor: pointer;
  transition: var(--transition);
}
/* .container div {
  opacity: 0;
} */
.active {
  opacity: 1;
}
.activeDot {
  background-color: var(--brand-main-color);
}
